* {
    transition: all .5s ease-in-out;
    font-family: "Main";
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  border: 1px solid gray;
  border-bottom: transparent;
  border-top: transparent;
}
 
::-webkit-scrollbar-thumb {
  background: blue; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

html {
 margin: 5%;   
}

main {
    transform: translate(-50%, -50%);
    height: max-content;
    position: absolute;
    display: flex;

    gap: 2.5cqw;
    left: 50%;
    top: 50%;

    .card-con {
        height: max-content;
        position: relative;
        width: max-content;

        .card-view {
            height: 546px;
            width: 393px;
        }

        .card-text {
            transform: translate(-50%, -50%);
            position: absolute;
            text-align: center;
            display: block;

            letter-spacing: -1px;
            font-size: 3cqw;
            line-height: 1;
            width: 60%;
            left: 50%;
            top: 30%;
        }
    }

    .card-listing-content{
        background-color: rgba(131, 129, 129, 0.466);
        justify-content: space-evenly;
        overflow-y: scroll;
        flex-wrap: wrap;
        display: flex;
        

        padding: 5cqh 2.5cqw;
        height: 70vh;
        width: 50vw;
        gap: 3cqw;

        .wherecard {
            cursor: pointer;
            background-color: red;

            width: 156px;
            height: 209px;        
        }
    }
}
