* {
    transition: all .5s ease-in-out;
    font-family: "Main";
    padding: 0;
    margin: 0;
}
html {
    margin: 5%;
    overflow: hidden;
}

main {
    transform: translate(-50%, -50%);
    height: max-content;
    position: absolute;
    display: flex;

    gap: 5cqw;
    left: 50%;
    top: 50%;

    .card-con {
        flex-direction: column;
        position: relative;
        width: max-content;
        display: flex;

        row-gap: 1cqw;
        height: 80vh;
        top: 0;

        .card-view {
            cursor: pointer;
            height: 406px;
            width: 243px;
            z-index: 2;
        }

        .card-view-shadow {
            background-color: black;
            position: absolute;
            
            border-radius: 10px;
            filter: blur(10px);
            bottom: 3.5cqw ;
            height: 406px;
            width: 233px;
            opacity: 0.7;
            z-index: 1;
            left: 2cqw;
            top: 17cqh;
        }
        
        .pack-logo {
            width:243px;
            top: -7cqw;
        }

        .card-text {
            animation: orbit3D 10s ease-in-out infinite;
            transform: translate(-50%, -50%);
            position: absolute;
            text-align: center;
            text-wrap: nowrap;
            display: block;

            letter-spacing: -1px;
            word-spacing: -5px;
            line-height: 4cqh;
            font-size: 2cqw;
            width: 100%;
            z-index: 3;
            top: 30%;
        }

        .card-info {
            height: max-content;

            background-color: #f8f9f8;
            border: #afb5b6 solid 2px;
            border-radius: 10px;
            padding: 15px 10px;
            
            margin-top: 3cqh;
            width: 223px;
            z-index: 3;
            bottom: 0;

            h1 {
                letter-spacing: 1px;
            }
            
            hr {
                margin: 10px 0;
                width: 100%;
            }
        }
    }

    
    .content-border {
        height: max-content;
        width: max-content;
        margin: auto 0;

        .card-listing-content{
            background-color: rgba(131, 129, 129, 0.466);
            justify-content: space-evenly;
            overflow-y: scroll;
            flex-wrap: wrap;
            display: flex;

            box-shadow: 0cqw 0cqh 0 1.5cqw #dd0b2d;
            border-radius: 10px;
            padding: 5cqh 1cqw;
            column-gap: 3cqw;
            row-gap: 2cqh;
            height: 60vh;
            width: 45vw;
            z-index: 1;

            .card {
                transform: scale(1);
                
                .wherecard {
                    background-color: transparent;
                    border: 1px solid black;
                    cursor: pointer;
                    
                    border-radius: 10px;
                    width: 127px;
                    height: 185.9;
                }

                .subtitle {
                    letter-spacing: 0;
                    font-size: 1cqw;
                    width: max-content;
                }
            }
            
            .wherecard:hover {
                animation: floatUp 1.2s ease-in-out forwards, bob 2s ease-in-out infinite;
            }
        }
    }
}

.common {
    .rarity {
        content: url(Assets/Icon.png);
        vertical-align: middle;
        
        padding: 10px 0;
        height: 10px;
        width: 10px;
    }
}

.card-toggler {
    position: fixed;

    scale: 1.6;
    left: 50%;
    top: 10%;
}