* {
    font-family: "Main";

    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: hidden;
}

html {
 margin: 5%;   
}

main {
    transform: translate(-50%, -50%);
    height: max-content;
    position: absolute;
    display: flex;

    gap: 2.5cqw;
    left: 50%;
    top: 50%;

    aside {
        background-color: gray;
        height: max-content;
        width: max-content; 

        img {
            width: 393px;
            height: 546px;
        }
    }


    .card-listing-content{
        background-color: rgba(131, 129, 129, 0.466);
        justify-content: space-evenly;
        overflow-y: scroll;
        flex-wrap: wrap;
        display: flex;
        

        padding: 5cqh 2.5cqw;
        height: 70vh;
        width: 50vw;
        gap: 3cqw;

        .wherecard {
            cursor: pointer;
            background-color: red;

            width: 156px;
            height: 209px;        
        }
    }
}

.common {
    display: none;
}
